Repository jzaffiro/FluidFramework, pull requests merged in 2023-05, with the labels that each got.

#3 Revert direct interval edits implementation
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
Labels: area: dds, area: dds: sharedstring, community-contribution, changeset-present

#5 Implement discard function for revertibles
  packages/dds/sequence/src/revertibles.ts
Labels: area: dds, area: dds: sharedstring

#4 Revertible for string remove containing interval
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/intervalCollection.undoRedo.spec.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change
